body {
    padding-top: 70px;
}
header, footer {
    background-color: #476573;
    color: white;
    padding: 20px;
    text-align: center;
}
a, a:link, a:visited {
    color: #000;
}
nav {
    background-color: #222;
    color: #fff;
}
nav a, nav a:link, nav a:visited {
    color: #fff;
}
nav a:hover {
    color: #000;
}

.footerxd a, .footerxd a:link, .footerxd a:visited {
    color: #fff;
}